html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

$button-size: 9rem;
$border-size: 1rem;


.btn{
  width:$button-size;
  height:$button-size;
  line-height: $button-size;
  background-color: #64B255;
  color:white;
  border:1px solid #92C989;
  display: inline-block;
  font-size: $button-size/2;
  text-align: center;
  vertical-align: top;
}

.operator{
  @extend .btn;
  background-color: #83C178;
  color:#4F7447;
}

#answer-box{
  @extend .btn;
  width:$button-size*3 + $border-size*.25;
  content: '';
}

.row{
  font-size: 0;
  display: block;
}

@media (max-width: $button-size*4 + $border-size*.5) {
  $button-size: 4rem;
  $border-size: .1rem;


  .btn{
    width:$button-size;
    height:$button-size;
    line-height: $button-size;
    font-size: $button-size/2;
  }


  #answer-box{
    width:$button-size*3 + $border-size*2.5;
  }
}
